.sidebar {
    
}

.sidebar__title {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.sidebar a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 0.25rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
}

.sidebar__menu a:last-child{
    margin-bottom: 30px;
}