.footer {
    background-color: #E5E5E5;
    text-align: center;
    padding-bottom: 56px;
}

.footer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ACB5BD;
    margin: 0;
}