.content {
    height: 1036px;
    background-color: #F9FAFC;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.container {
    display: flex;
    justify-content: center;
}

.content__cards {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 68px 165px;
    width: 1110px;
    margin: 0;
}

.content__card {
    background-color: greenyellow;
}
